.CartContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px;
}

.CartContent > img {
    height: 100px;
    width: 100px;
    text-align: center;
}

.CartTotal{
    text-align: center;
}

.cart-message {
    text-align: center;
    margin-top: 35px;
};

.counter-boton{
    cursor: pointer;
    font-weight: bold;
    font-style: oblique;
};

.cart-delete-boton{
    cursor: pointer;
};