* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Genos', sans-serif;
}

.nav-container {

    position: sticky;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.946);
    margin-top: -30px;

}

.navbar-logo {
    justify-self: start;
    margin-left: 7em;
    color: lightskyblue;
    margin-top: 4vh;
    cursor: pointer;
}

.quad{
   
  margin-left: 80px;

}
